

/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

/* ===== GLOBAL ===== */
body {
    background-color: #f5ede6;
}

.container {
    width: 80%;
    margin-inline: auto;
}

@media (max-width: 992px) {
    .container {
        width: 90%;
    }
}

/* ================= NAVBAR ================= */

.navbar {
    padding: 20px 0;
}

.navbar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-box .menu {
    display: flex;
    gap: 40px;
}

.navbar-box .menu li {
    list-style: none;
}

.navbar-box .menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.navbar-box .menu li a:hover {
    border-bottom: 3px solid rgb(33, 105, 75);
}

.navbar-box .ri-menu-3-line {
    display: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar-box .ri-menu-3-line {
        display: block;
    }

    .navbar-box .menu {
        position: absolute;
        top: -200px;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        text-align: center;
        background-color: rgb(33, 105, 75);
        width: 100%;
        padding: 40px 0;
        transition: 0.3s ease;
        opacity: 0;
    }

    .navbar-box .menu.menu-active {
        top: 100px;
        opacity: 1;
    }

    .navbar-box .menu li a {
        color: white;
        font-size: 20px;
        text-decoration: underline;
    }
}

/* ================= HERO ================= */

.buku {
    padding-top: 20px;
}

.buku-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: start;
}

.buku-box h1 {
    font-size: 46px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: rgb(33, 105, 75);
}



.buku-box p {
    line-height: 2;
    margin-bottom: 30px;
}

.buku-box a {
    text-decoration: none;
    background-color: rgb(33, 105, 75);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.buku-box img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin-top: -50px;
}

@media (max-width: 768px) {
    .hero-box {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 70px;
    }
}

/* ================= LOGIN PAGE ================= */

.login-overlay {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.331);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* card login */
.login-box {
    background: #ffffffe2;
    padding: 35px 30px;
    width: 320px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(69, 69, 69, 0.187);
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login-box button {
    width: 100%;
    padding: 20px;
    background: rgb(33, 105, 75);
    color: rgb(255, 253, 251);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login-box button:hover {
    background: rgba(43, 139, 99, 0.731);
}

.note {
    font-size: 12px;
    margin-top: 8px;
    color: #555;
}

.back-link {
    display: block;
    margin-top: 12px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(33, 105, 75);
    transition: 0.3s;
}

.back-link:hover {
    text-decoration: underline;
    color: rgba(43, 139, 99, 0.731);
}

/* ================= DASHBOARD ================= */

.dashboard {
    padding: 5px 0;        
    text-align: center;
    margin-top: -010px;      
}

.dashboard h1 {
    margin: 0px;
    color: SaddleBrown;     
    font-size: 36px;
    font-weight: bold;
}

.dashboard p {
    margin: 5px 0 20px 0;
    color: #333;
    font-size: 16px;
}

.login-body {
    background-image: url('/bgbuku.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
    width: 100%;
}

.dashboard-btn {
    display: inline-block;
    padding: 10px 4px;
    background-color: SaddleBrown; 
    color: white;
    text-decoration: none;
    border-radius: 80px;
    font-weight: 300;
    transition: 0.3s ease;
    margin-bottom: 10px;
}

.dashboard-btn:hover {
    background-color: #5d341a; 
    transform: translateY(-3px); 
}

/* LAYANAN */

.layanan {
    padding: 20px;
    padding-bottom: 20px;
}

.layanan-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.layanan-box .box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.layanan-box .box:hover {
    background-color: rgb(33, 105, 75);
}

.layanan-box .box:hover > * {
    color: white;
} 

.layanan-box .box i {
    font-family: 'remixicon' !important;
    font-style: normal;
    font-size: 40px;
    color: rgb(33, 105, 75);
    display: block;
    margin-bottom: 5px;
}

.layanan-box .box h2 {
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 30px;
}

/* LAYANAN */

/* PRODUK */

.card-produk {
    display: flex;          
    align-items: flex-start; 
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 100%;            
    max-width: 800px;       
    gap: 30px;              
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.card-produk img {
    width: 180px;           
    height: 240px;          
    object-fit: cover;      
    border-radius: 10px;
}

.info-buku {
    text-align: left;      
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-buku h3 {
    font-size: 22px;
    color: rgb(33, 105, 75);
    margin-bottom: 5px;
}

.produk {
    padding-bottom: 100px;
}

.produk-box h1 {
    text-align: center;
    margin-bottom: 30px;
}

.produk-box ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.produk-box ul li {
    list-style-type: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.produk-box ul .active {
    background-color: rgb(69, 150, 101);
}

.produk-box .produk-list {
    display: flex;
    flex-direction: column; 
    gap: 20px;              
    align-items: center;    
}

.card-produk {
    display: flex;          
    flex-direction: row;    
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 100%;            
    max-width: 900px;       
    gap: 30px;              
    
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
    align-items: center;    
}

.card-produk:hover {
    transform: translateY(-5px);
}

.card-produk img {
    width: 150px !important; 
    height: 210px !important; 
    object-fit: cover;
    border-radius: 10px;
    margin-top: 0 !important; 
}

.info-buku {
    flex: 1;               
    text-align: left;       
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-buku h3 {
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin: 0;
}

.produk-box .produk-list img:hover {
    background-color: rgb(33, 105, 75);
    transform: scale(1.05);
}

.produk-box .produk-list .card-produk p {
    margin-top: 5px;      
    text-align: left;   
    font-weight: normal;     
    color: #000000;           
    font-size: 15px;       
}

/* PRODUK */

/* FOOTER / COPYRIGHT */
.footer {
    background-color: rgba(199, 184, 139, 0.66);
    color: rgb(11, 66, 0);
    padding: 20px 0;
    text-align: center;
    margin-top: 50px; 
    bottom: 0;
    width: 100%;
    clear: both;
    display: block;
}

.footer p {
    font-size: 16px;
    letter-spacing: 1px;
    opacity: 0.8;
    font-weight: bold;
}

.produk-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card-produk {
    display: flex;
    flex-direction: row; 
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 850px;
    gap: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    align-items: center;
    transition: 0.3s ease;
}

.card-produk:hover {
    transform: translateX(10px); 
}

.card-produk img {
    width: 130px !important;
    height: 190px !important;
    object-fit: cover;
    border-radius: 10px;
}

.info-buku {
    text-align: left;
    flex: 1;
}

.deskripsi-singkat {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
    line-height: 1.5;
}

/* TENTANG KAMI */

.tentangkami-page .pt-5 {
    margin-top: 0;
    margin-top: -50px;
    margin-bottom: 30px;
}

.tentangkami-page .py-3 {
    text-align: left;
}

/* TENTANG KAMI */

/* ALAMAT */

.alamat-page {
    padding-top: 100px;
    position: middle;
}

.alamat-page .p,
.alamat-page h1 {
    margin-top: 0;
}

.alamat {
    padding-bottom: 200px;
    padding-top: 100px;
}

/* ALAMAT */

/* TOMBOL KEMBALI */

.btn-back {
    position: absolute;
    top: 80px;
    left: 30px;
    background-Color: #03410a;
    color: white;
    border: none;
    padding: 8px 15px;
    border-Radius: 5px;
    cursor: pointer;
    margin-Bottom: 20px;
    font-Weight: bold;
    z-index: 10;
}